
<div class="artist-details" [style.backgroundImage]="'url(' + (coverPicture?.file ? 'data:' + coverPicture?.fileContentType + ';base64,' + coverPicture?.file : '') + ')'">
  <div class="artist-header">
    <!-- Profile Picture with Play Button -->
    <div class="profile-picture" (mouseenter)="showPlayButton = true" (mouseleave)="showPlayButton = false">
      <img *ngIf="profilePicture?.file" [src]="'data:' + profilePicture?.fileContentType + ';base64,' + profilePicture?.file" alt="Artist Profile Picture" />
    </div>

    <!-- Artist Information -->
    <div class="artist-info">
      <ul>
        <li>
          <svg height="1.5rem" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"
               style="enable-background:new 0 0 18 18;" xml:space="preserve">
            <style type="text/css">
              .st0 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #FFFFFF;
              }
              .st1 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #0095F6;
              }
            </style>
            <rect x="4.1" y="4.7" class="st0" width="9.5" height="8.6" />
            <path class="st1" d="M9,1.4L6.6,0L5.2,2.3H2.4v2.9L0,6.6L1.4,9L0,11.4l2.4,1.4v2.7h2.7L6.6,18L9,16.6l2.4,1.4l1.5-2.5h2.8v-2.7
              l2.4-1.4L16.6,9L18,6.6l-2.4-1.4V2.3h-2.9L11.4,0L9,1.4z M12.3,6.4l1,1l-5.1,5.2L5.1,9.5l1-1l2.1,2.1L12.3,6.4z" />
          </svg>
          Verified Artist
        </li>
        <li class="artist-name">{{ artist?.name }}</li>
        <li class="listeners">12345678 monthly listeners</li>
      </ul>
    </div>
  </div>

</div>

<!-- Action Buttons -->
<div class="library-actions">
  <button  *ngIf="!showPlayPlaylist" class="play-btn" (click)="togglePlayPausePlaylist()"><i class="fas fa-play"></i></button>
  <button  *ngIf=" showPlayPlaylist" class="play-btn" (click)="togglePlayPausePlaylist()"><i class="fas fa-pause"></i></button>
  @if (cardArtist){
    <app-follow-artist-btn [artist]="cardArtist"
                           (followArtist)="followArtist($event)"
                           (unfollowArtist)="unfollowArtist($event)">
    </app-follow-artist-btn>
  }
<!--  <button class="add-btn"><i class="fas fa-plus"></i></button>-->
  <button class="more-btn"><i class="fas fa-ellipsis-h"></i></button>
</div>

<!-- List Artist Songs -->
<app-list-artist-song [tracks]="songs" [artist]="artist" (songToPlay$)="onPlaySong($event)"></app-list-artist-song>
