<div class="min-h-screen bg-gradient-to-b from-zinc-900 via-zinc-900 to-black text-zinc-100 p-8">
  <app-dashboard-header></app-dashboard-header>
  <app-dashboard-stats [stats]="stats"></app-dashboard-stats>
  <div class="content mt-8">
    <div class="main-content">
      <div class="tabs">
        <!-- Tab Buttons -->
        <div class="tabs-list p-1 bg-zinc-800/50 rounded-lg shadow-lg">
          <button
            (click)="setActiveTab('songs')"
            [class.active]="(tabService.activeTab$ | async) === 'songs'"
            class="tab-button transition-all duration-300 ease-in-out hover:text-emerald-500"
          >
            Songs
          </button>
          <button
            (click)="setActiveTab('artists')"
            [class.active]="(tabService.activeTab$ | async) === 'artists'"
            class="tab-button transition-all duration-300 ease-in-out hover:text-emerald-500"
          >
            Artists
          </button>
          <button
            (click)="setActiveTab('events')"
            [class.active]="(tabService.activeTab$ | async) === 'events'"
            class="tab-button transition-all duration-300 ease-in-out hover:text-emerald-500"
          >
            Events
          </button>
        </div>

        <!-- Tab Content -->
        <div class="tab-content mt-6">
          @if ((tabService.activeTab$ | async) === 'songs') {
            <div class="fade-in">
              <app-songs-tab-content></app-songs-tab-content>
            </div>
          } @if ((tabService.activeTab$ | async) === 'artists') {
            <div class="fade-in">
              <app-artists-tab-content></app-artists-tab-content>
            </div>
          }
           @else if ((tabService.activeTab$ | async) === 'events') {
          <div class="fade-in">
            <app-events-tab-content></app-events-tab-content>
          </div>
        }
        </div>
      </div>
    </div>
  </div>
</div>
