<div class="liked-container">
  <!-- Action Buttons -->
  <div class="liked-actions">
    <button class="play-btn"><i class="fas fa-play"></i></button>
    <button class="add-btn"><i class="fas fa-plus"></i></button>
    <button class="more-btn"><i class="fas fa-ellipsis-h"></i></button>

    <!-- Toggle View Button -->
    <button class="view-toggle-btn" (click)="toggleView()">
      <fa-icon [icon]="isGridView ? ['fas', 'list'] : ['fas', 'th-large']"></fa-icon>
    </button>
  </div>

  <!-- Song List or Grid -->
  <!-- List View -->
  @if (!isGridView) {
    <div class="song-container" [ngClass]="{'grid-view': isGridView, 'list-view': !isGridView}">
      @if (loading) {
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="spinner-grow text-primary loader" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      } @else {
        @for (song of songs; track song.id) {
          <div class="song-item">
            <app-small-song-card [song]="song" (songToPlay$)="onPlaySong($event)"/>
            <app-favorite-song-btn
              (addedToWishList)="addToWishList($event)"
              (removedFromWishList)="removedFromWishList($event)"
              [song]="song">
            </app-favorite-song-btn>
            <!-- Delete Button -->
            <button class="delete-btn" (click)="onDeleteSong(song)">
              <fa-icon [icon]="['fas', 'minus']"></fa-icon>
            </button>
          </div>
        }
      }
    </div>
  }

  <!-- Grid View -->
  @if (isGridView) {
    <div class="grid-view">
      @if (songs && songs.length > 0) {
        <div class="list">
          @if (loading) {
            <div class="d-flex justify-content-center align-items-center">
              <div class="spinner-grow text-primary loader" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          } @else {
            <div class="d-flex flex-wrap">
              @for (song of songs; track song.id) {
                <div class="card song-card-background mt-0 mb-4 ms-0 me-4">
                  <app-song-card [song]="song" (songToPlay$)="onPlaySong($event)"/>
                  <div class="favorite-btn-container">
                    <app-favorite-song-btn
                      [song]="song"
                      (addedToWishList)="addToWishList($event)"
                      (removedFromWishList)="removedFromWishList($event)">
                    </app-favorite-song-btn>
                  </div>
                  <button class="delete-btn-container" (click)="onDeleteSong(song)">
                    <fa-icon [icon]="['fas', 'minus']"></fa-icon>
                  </button>
                </div>
              }
            </div>
          }
        </div>
      } @else {
        <p>No songs found in this Playlist.</p>
      }
    </div>
  }


</div>
