.placeholder {
  height: 20px; /* Example height for the placeholder */
}

.controls {
  display: flex;
  justify-content: space-between; /* Space between button groups */
  align-items: center; /* Align items vertically center */
}

.button-group {
  display: flex; /* Use flex for the button groups */
  align-items: center; /* Center buttons vertically */
}

.spotify-button {
  background-color: #1DB954; /* Spotify green */
  color: rgba(0, 0, 0, 0.9); /* White text */
  border: none; /* Remove border */
  border-radius: 50px; /* Rounded edges */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s, transform 0.2s; /* Animation for hover effects */
}

.spotify-button:hover {
  background-color: #1ed760; /* Lighter green on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.spotify-button:disabled, .spotify-button.p-disabled {
  background-color: #ccc; /* Disabled color */
  cursor: not-allowed; /* Not allowed cursor */
}

.create-listing {
  display: flex; /* Align contents */
  align-items: center; /* Center vertically */
}

.btn-text {
  margin-right: 8px; /* Space between text and icon */
}

.loading-icon {
  font-size: 16px; /* Size of the loading icon */
}
