<div class="card">
  <div class="card-header">
    <div class="flex items-center justify-between w-full">
      <div>
        <h2 class="text-3xl font-bold text-white">Songs Library</h2>
        <p class="text-zinc-400">Manage your music tracks</p>
      </div>
      <!-- Add Song Button -->
      <button
        (click)="openAddSongModal()"
        class="btn btn-primary"
        aria-label="Add Song"
      > <fa-icon [icon]="['fas', 'plus']" class="text-3xl font-bold"></fa-icon> Add Song

      </button>
    </div>
  </div>

  <div class="card-content mt-6">
    <!-- Mock Table -->
    <table class="table-auto w-full text-white">
      <thead>
      <tr class="hover:bg-zinc-800/50">
        <th class="px-6 py-4 text-left">#</th>
        <th class="px-6 py-4 text-left">Title</th>
        <th class="px-6 py-4 text-left">Genre</th>
        <th class="px-6 py-4 text-right">Actions</th>
      </tr>
      </thead>

      <tbody>
        @for (song of allSongs; track song.id) {
          <tr   class="hover:bg-zinc-800/50">
            <td class="px-6 py-4">{{  song.id+1  }}</td>

            <!-- Artist Name + Image -->
            <td class="px-6 py-4 font-medium">
              <div class="artist-details flex align-items-center">
                <div
                  class="image-container"
                  style="width: 100px; height: 100px; margin-right: 10px; border-radius: 4px; overflow: hidden; border: 1px solid #f1f1f1;"
                >
                  <img class="card-img-top card-img-bottom"
                       [src]="'data:' + song.coverContentType + ';base64,' + song.cover" alt="cover"/>
                </div>
                <div>{{ song.title }}</div>
              </div>
            </td>

            <td class="px-6 py-4">{{ song.genre}}</td>

            <td class="px-6 py-4 text-right">
              <div class="flex gap-4 justify-end">
                <button
                  (click)="deleteSong(song)"
                  class="text-red-400 hover:text-red-300 hover:bg-red-400/10 p-3 rounded-full"
                  aria-label="Delete Artist"
                >
                  <fa-icon [icon]="['fas', 'trash']" class="text-lg"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
