<div class="card">
  <div class="card-header">
    <div class="flex items-center justify-between w-full">
      <div>
        <h2 class="text-3xl font-bold text-white">Songs Library</h2>
        <p class="text-zinc-400">Manage your music tracks</p>
      </div>
      <!-- Add Song Button -->
      <button
        (click)="openAddSongModal()"
        class="btn btn-primary"
        aria-label="Add Song"
      > <fa-icon [icon]="['fas', 'plus']" class="text-3xl font-bold"></fa-icon> Add Song

      </button>
    </div>
  </div>

  <div class="card-content mt-6">
    <!-- Mock Table -->
    <table class="table-auto w-full text-white">
      <thead>
      <tr class="hover:bg-zinc-800/50">
        <th class="px-6 py-4 text-left">#</th>
        <th class="px-6 py-4 text-left">Title</th>
        <th class="px-6 py-4 text-left">Artist</th>
        <th class="px-6 py-4 text-left">Release Date</th>
        <th class="px-6 py-4 text-right">Actions</th>
      </tr>
      </thead>

      <tbody>
      <!-- Mock Song Data -->
      <tr *ngFor="let song of mockSongs" class="hover:bg-zinc-800/50">
        <td class="px-6 py-4">
          <img [src]="song.imageUrl" [alt]="song.title" class="w-12 h-12 rounded-full object-cover" />
        </td>
        <td class="px-6 py-4 font-medium">{{ song.title }}</td>
        <td class="px-6 py-4">{{ song.artist }}</td>
        <td class="px-6 py-4">
            <span class="inline-flex items-center gap-1 text-zinc-400">
              <fa-icon [icon]="['fas', 'calendar']" class="h-4 w-4 text-zinc-400"></fa-icon>
              {{ song.createdAt.split('T')[0] }}
            </span>
        </td>
        <td class="px-6 py-4 text-right">
          <div class="flex gap-4 justify-end">
            <button
              (click)="deleteSong(song)"
              class="text-red-400 hover:text-red-300 hover:bg-red-400/10 p-3 rounded-full"
              aria-label="Delete Song"
            >
              <fa-icon [icon]="['fas', 'trash']" class="text-lg"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
