//.liked-details {
//  width: 100%;
//  display: flex;
//  padding-top: 3%;
//  padding-bottom: 3%;
//}
//
//.liked-details .left {
//  background-repeat: no-repeat;
//  background-size: contain;
//  width: 24%;
//  height: 35vh;
//  border-radius: 7px;
//}
//
//.right {
//  width: 76%;
//  overflow: hidden;
//}
//
//.right ul {
//  width: 100%;
//  height: max-content;
//  list-style: none;
//  padding: 8% 0 0 3%;
//}
//
//.right ul {
//  list-style: none;
//}
//
//.right ul li {
//  white-space: nowrap;
//}
//
//.right ul li:nth-child(1) {
//  font-size: .813rem;
//  color: whitesmoke;
//}
//
//.right ul li:nth-child(2) {
//  font-size: 6rem;
//  font-weight: 1000;
//  color: whitesmoke;
//  letter-spacing: -1px;
//}
//
//.right ul li:nth-child(3) {
//  font-size: .813rem;
//  color: whitesmoke;
//  margin-top: -1%;
//}
.liked-details {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 2% 3%;
  background: linear-gradient(180deg, #5436a3, #1b1526);
  min-height: 40vh;
}

.liked-details .left {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24%;
  height: 35vh;
  border-radius: 7px;
}

.liked-details .left fa-icon {
  font-size: 5rem;
  color: white;
}

.right {
  width: 75%;
  margin-left: 3%;
}

.right ul {
  list-style: none;
  padding: 0;
}

.right ul li:nth-child(1) {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ddd;
}

.right ul li:nth-child(2) {
  font-size: 6rem;
  font-weight: 900;
  color: white;
  margin-top: -10px;
}

.right ul li:nth-child(3) {
  font-size: 1rem;
  color: #ddd;
  margin-top: -1%;
}

.username {
  font-weight: bold;
  color: white;
}
