
<div class="px-4">
  @switch (this.currentStep.id) {

    @case (GENRE) {
      <div class="mb-5">
        <app-genre-step [categoryName]="newSong.genre"
                        (categoryChange)="onCategoryChange($event)"
                        (stepValidityChange)="onValidityChange($event)"></app-genre-step>
      </div>
    }
    @case (ARTIST) {
      <app-artist-step [selectedArtist]="newSong.artistId"
                         (artistSelected)="onArtistSelected($event)"
                         (stepValidityChange)="onValidityChange($event)"></app-artist-step>
    }
    @case (DETAILS) {
      <app-details-step
        [infos]="newSong"
        (detailsChange)="onDetailsChange($event)"
        (stepValidityChange)="onValidityChange($event)">
      </app-details-step>
    }
  }
</div>
<app-footer-step [currentStep]="currentStep"
                 [isAllStepsValid]="isAllStepsValid()"
                 [loading]="loadingCreation"
                 (finish)="createSong()"
                 (next)="nextStep()"
                 (previous)="previousStep()">
</app-footer-step>
