
<div class="audioplayer">
  <!-- Left Section: Song Info -->
  <div class="left">
    @if (currentSong) {
      <app-small-song-card [song]="currentSong" />
      <app-favorite-song-btn (addedToWishList)="addToWishList($event)"
                             (removedFromWishList)="removedFromWishList($event)"
                             [song]="currentSong"></app-favorite-song-btn>
    }
  </div>

  <!-- Center Section: Player Controls -->
  <div class="center">
    <div class="top">
      <!-- Shuffle Button -->
      <fa-icon
        [icon]="['fas', 'shuffle']"
        (click)="onShuffle()"
        [ngClass]="{ active: isShuffled }"
        class="control-icon"
      ></fa-icon>
      <!-- Backward Button -->
      <fa-icon
        [icon]="['fas', 'backward-step']"
        (click)="onBackward()"
        class="control-icon"
      ></fa-icon>
      <!-- Play/Pause Button -->
      @if (isPlaying) {
        <fa-icon
          [icon]="['fas', 'circle-pause']"
          (click)="pause()"
          class="play-icon"
        ></fa-icon>
      } @else {
        <fa-icon
          [icon]="['fas', 'circle-play']"
          (click)="play()"
          class="play-icon"
        ></fa-icon>
      }
      <!-- Forward Button -->
      <fa-icon
        [icon]="['fas', 'forward-step']"
        (click)="onForward()"
        class="control-icon"
      ></fa-icon>
      <!-- Repeat Button -->
      <fa-icon
        [icon]="['fas', 'repeat']"
        (click)="onLoop()"
        [ngClass]="{ active: isLooping }"
        class="control-icon"
      ></fa-icon>
    </div>
    <div class="bottom">
      <span>{{ formatTime(currentHowlInstance ? currentHowlInstance.seek() : 0) }}</span>
      <input
        type="range"
        [ngModel]="currentProgress"
        (ngModelChange)="onSeek($event)"
        min="0"
        max="100"
        class="progress-bar"
      />
      <span>{{ formatTime(currentHowlInstance?.duration() || 0) }}</span>
    </div>
  </div>

  <!-- Right Section: Volume Controls -->
  <div class="right">
    <!-- Queue Button -->
    <fa-icon
      [icon]="['fas', 'list-ul']"
      (click)="onQueue()"
      class="control-icon"
    ></fa-icon>
    <!-- Volume Icon -->
    @if (isMuted || currentVolume === 0) {
      <fa-icon
        [icon]="['fas', 'volume-mute']"
        (click)="onMute()"
        class="control-icon"
      ></fa-icon>
    } @else if (currentVolume < 0.3) {
      <fa-icon
        [icon]="['fas', 'volume-low']"
        (click)="onMute()"
        class="control-icon"
      ></fa-icon>
    } @else {
      <fa-icon
        [icon]="['fas', 'volume-high']"
        (click)="onMute()"
        class="control-icon"
      ></fa-icon>
    }
    <!-- Volume Slider -->
    <input
      type="range"
      [ngModel]="currentVolume * 100"
      (ngModelChange)="onVolumeChange($event)"
      min="0"
      max="100"
      class="volume-bar"
    />
    <!-- Fullscreen Button -->
    <fa-icon
      [icon]="['fas', 'expand']"
      (click)="onFullscreen()"
      class="control-icon"
    ></fa-icon>
  </div>
</div>
